<!DOCTYPE html>
<html>
    <head>
        <title>This is the addbook page title!</title>
    </head>
    <body>
        <h1>This is the addbook page</h1>
        <p>This is an example of a parragraph inside the addbook page.</p>
        <form action="/bookadded" method="POST">
            <p> Name
            <input id="book-name" type="text" name="name" value="Default">
            </p>
            <p>Price 
            <input id="book-price" type="text" name="price" value=0></p>
            <input type="submit" value="Submit">
        </form>
        <a href="/list">View all the books</a>
    </body>
</html>